<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true"/>
  </appSettings>
  <connectionStrings>
    <!--<add name="connSQL" connectionString="Server=192.168.66.20;Database=DATOS_SCD_RESPALDO;User Id=sa;Password=ALGEYA1.;"/> -->
    <add name="connSQL" connectionString="Server=LAPTOP-MCQ7HPSS\SQLEXPRESS;Database=datos_scd;User Id=sa;Password=idealsis.123;"/>
  </connectionStrings>
  <!--
    Para obtener una descripción de los cambios de web.config, vea http://go.microsoft.com/fwlink/?LinkId=235367.
    Los siguientes atributos se pueden establecer en la etiqueta <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.serviceModel>
    <!--
    <services>
      <service name="AppInspeccionServicios.Service1">
        <endpoint address="" behaviorConfiguration="AppInspeccionServicios.Service1AspNetAjaxBehavior"
          binding="webHttpBinding" contract="AppInspeccionServicios.Service1" />
      </service>
      <service name="AppInspeccionServicios.Informacion">
        <endpoint address="" behaviorConfiguration="AppInspeccionServicios.DatosLeerAspNetAjaxBehavior"
          binding="webHttpBinding" contract="AppInspeccionServicios.Informacion" />
      </service>
    </services>
    -->
    <behaviors>
      <!--
      <endpointBehaviors>
        <behavior name="AppInspeccionServicios.Service1AspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
        <behavior name="AppInspeccionServicios.ObtenerPendientesAspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
        <behavior name="AppInspeccionServicios.DatosLeerAspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
      </endpointBehaviors>
      -->
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https"/>
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        Para examinar el directorio raíz de la aplicación web durante la depuración, establezca el valor siguiente en true.
        Establézcalo en false antes de la implementación para evitar revelar información sobre la carpeta de aplicación web.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>
</configuration>